In [2]:
import pandas as pd
import numpy as np

### Get house price data
The house price data is available from [Kaggle](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [3]:
# Load the csv file for the house price data
house_price_df = pd.read_csv('kc_house_data.csv')
house_price_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
print(f'{"Feature":<15}| Value')
print(f'_'*32)
for col in house_price_df.columns.tolist():
    print(f'{col:<15} | {house_price_df.iloc[0][col]}')

Feature        | Value
________________________________
id              | 7129300520
date            | 20141013T000000
price           | 221900.0
bedrooms        | 3
bathrooms       | 1.0
sqft_living     | 1180
sqft_lot        | 5650
floors          | 1.0
waterfront      | 0
view            | 0
condition       | 3
grade           | 7
sqft_above      | 1180
sqft_basement   | 0
yr_built        | 1955
yr_renovated    | 0
zipcode         | 98178
lat             | 47.5112
long            | -122.257
sqft_living15   | 1340
sqft_lot15      | 5650

In [16]:
house_price_df.iloc[[0]]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

### Create a scalar value

In [22]:
print(house_price_df['bedrooms'].values[0])

3

### Create a feature vector

In [75]:
# This is a numpy row vector
print(house_price_df[["bedrooms", "sqft_lot"]].values[:1])

[[   3 5650]]

In [89]:
# This is a numpy column vector
print(house_price_df[["bedrooms", "sqft_lot"]].values.T[:2, :1].shape)

(2, 1)

### Create a matrix

In [84]:
print(house_price_df[["bedrooms", "sqft_lot"]].values[:2])

[[   3 5650]
 [   3 7242]]

In [87]:
print(house_price_df[["bedrooms", "sqft_lot"]].values[:2].shape)

(2, 2)

In [90]:
print(house_price_df[["bedrooms", "sqft_lot"]].values[:3].shape)

(3, 2)